.loader-container{

  position:fixed;
  
  inset:0;
  
  display:flex;
  
  justify-content:center;
  
  align-items:center;
  
  background:var(--bg);
  
  z-index:99999;
  
  animation:fadeOut .5s ease 1.2s forwards;
  
  }
  
  .loader{
  
  width:70px;
  
  height:70px;
  
  border:6px solid rgba(255,255,255,.15);
  
  border-top:6px solid var(--primary);
  
  border-radius:50%;
  
  animation:spin 1s linear infinite;
  
  }
  
  @keyframes spin{
  
  to{
  
  transform:rotate(360deg);
  
  }
  
  }
  
  @keyframes fadeOut{
  
  to{
  
  opacity:0;
  
  visibility:hidden;
  
  }
  
  }