.experience{
  padding:100px 8%;
}

.timeline{
  position:relative;
  max-width:900px;
  margin:60px auto 0;
}

.timeline::before{
  content:"";
  position:absolute;
  left:25px;
  top:0;
  width:3px;
  height:100%;
  background:var(--primary);
}

.timeline-item{
  position:relative;
  padding-left:80px;
  margin-bottom:40px;
}

.timeline-dot{
  position:absolute;
  left:13px;
  top:10px;

  width:26px;
  height:26px;

  border-radius:50%;

  background:var(--primary);

  border:5px solid var(--surface);

  box-shadow:0 0 20px rgba(59,130,246,.4);
}

.timeline-content{

  background:var(--surface);

  border:1px solid var(--border);

  border-radius:20px;

  padding:35px;

  transition:.35s;

  box-shadow:var(--shadow);

  position:relative;

  overflow:hidden;
}

/* Glow Effect */

.timeline-content::before{

content:"";

position:absolute;

width:280px;
height:280px;

background:radial-gradient(circle,
rgba(59,130,246,.28),
transparent 70%);

top:-150px;
left:-150px;

opacity:0;

transition:.4s;

pointer-events:none;

}

.timeline-content:hover::before{

opacity:1;

}

.timeline-content:hover{

transform:translateY(-8px);

border-color:var(--primary);

box-shadow:
0 0 20px rgba(59,130,246,.25),
0 0 40px rgba(59,130,246,.18),
0 20px 50px rgba(59,130,246,.15);

}

.timeline-date{

display:inline-block;

background:rgba(59,130,246,.12);

color:var(--primary);

padding:8px 18px;

border-radius:999px;

font-weight:600;

margin-bottom:18px;

}

.timeline-content h3{

margin-bottom:18px;

font-size:1.6rem;

}

.timeline-content p{

line-height:1.9;

color:var(--text-light);

}

@media(max-width:768px){

.experience{

padding:80px 6%;

}

.timeline::before{

left:15px;

}

.timeline-item{

padding-left:55px;

}

.timeline-dot{

left:3px;

}

.timeline-content{

padding:25px;

}

}